# Port to run server
PORT=3000


NODE_ENV=development

# MongoDB DataBase URL  
DB_URL=mongodb://localhost:27017/Node

# Origins list of URI allow to access the API server
ORIGIN=["http://localhost:3000","http://159.65.155.83/"]

# For this  
ACTIVATION_SECRET=

REFRESH_TOKEN=

ACCESS_TOKEN=



# Nodemailer configuration 

SMTP_HOST=

SMTP_PORT=

SMTP_SERVICE=

SMTP_MAIL=

SMTP_PASSWORD=


